:root {
    --header-text-color: #212121;
    --header-info-color:#757575;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #212121;
    --logo-color:#2196F3;
    --logo-header-color: #000000;
    --logo-footer-color: #FFFFFF;
    --accent-color: #2196F3;
    --bg-wight-color: #FFFFFF;
    --bg-black-color: #2F303A;
    --bg-grey-color:#F5F4FA;
    --bg-btm-color: #188ce8;
    --frame-color: #EEEEEE;
    --socials-color: #AFB1B8;
    --footer-link-bg-color: rgba(255, 255, 255, 0.1);  
}  